// Headings
  h1 {
    font-family: 'Raleway';
    color: $darkGrey;
    font-size: 35px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
  }

  h2 {
    font-family: 'Raleway';
    font-size: 55px;
    color: $textWhite;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
  }

  h3 {
    font-family: 'Raleway';
    color: $darkGrey;
    font-size: 36px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom:60px;
    @include respond-to("small") {
      line-height: 35px;
    }
  }

  h4 {
    font-family: 'Raleway';
    color: $darkGrey;
    font-size: 30px; 
    font-weight: 700;
    line-height: 24px;
    text-align: center;
  }

  h5 {
    font-family: 'Raleway';
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
  }

  h6 {
    font-family: 'Open Sans';
    color: $darkGrey;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }

  p {
    font-family: 'Open Sans';
    color: $lightGrey;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }

.title--lowercase {
  text-transform: capitalize;
}

.title__byline {
  font-family: 'Raleway';
  color: $lightGrey;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

